@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #b79891, #94716b);

    --background: 12 13.65% 5.12%;
    --foreground: 12 2.1% 98.2%;

    --muted: 12 10.5% 19.2%;
    --muted-foreground: 12 2.1% 56.4%;

    --popover: 12 60.8% 8.32%;
    --popover-foreground: 12 2.1% 98.2%;

    --card: 12 60.8% 8.32%;
    --card-foreground: 12 2.1% 98.2%;

    --border: 12 10.5% 19.2%;
    --input: 12 10.5% 19.2%;

    --primary: 12 21% 64%;
    --primary-foreground: 12 2.1% 6.4%;

    --secondary: 12 10.5% 19.2%;
    --secondary-foreground: 12 2.1% 98.2%;

    --accent: 12 10.5% 19.2%;
    --accent-foreground: 12 2.1% 98.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 12 2.1% 98.2%;

    --ring: 12 21% 64%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-muted-foreground max-w-5xl mx-auto;
  }
}
